@mixin root-layout {
  height: 100vh;
}

@mixin root-container {
  height: auto;
  min-height: 100%;
  margin: auto;
  max-width: 750px;
  padding: 10vh 0;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $min-tablet) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $min-desktop) and (max-width: $desktop) {
    @content;
  }
}

@mixin i-mac {
  @media (min-width: $i-mac) {
    @content;
  }
}
