$mobile: 767px;
$min-tablet: $mobile + 1;
$tablet: 1023px;
$min-desktop: 1024px;
$desktop: 1399px;
$large-desktop: 1400px;
$i-mac: 2400px;
$max-height: 8000px;
$highlight-color: #30ffcb;
$deep-light-color: #dfdfdf;
$background-color: rgb(20 22 33);
$dark-color: rgb(100 116 139);
$base-color: #425061;
$sub-color: #61768f;
$min-color: #d9dee5;
