html,
body {
  height: 100%;
  font-family: 'D2Coding', sans-serif;
  font-size: 14px;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  color: $deep-light-color;

  @media print {
    print-color-adjust: exact;
    width: 210mm;
    height: 297mm;
    background-color: rgb(255 255 255);
    color: $black;
  }
}

/* stylelint-disable */
#__next {
  height: 100%;
}
/* stylelint-enable */

main {
  height: 100vh;
}
