html,
body {
  height: 100%;
  font-family: 'D2Coding', sans-serif;
  font-size: 14px;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  color: $deep-light-color;
}

/* stylelint-disable */
#__next {
  height: 100%;
}
/* stylelint-enable */

main {
  height: 100vh;
}
