node_modules
build
dist
out
.next/
.vscode/

.DS_Store

# TypeScript cache
*.tsbuildinfo

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Jest
/coverage/

# Assets
/public/posts/*