@import './detail/index';

/* PC */
.tag-layout {
  @include root-layout;
}

.tag-container {
  @include root-container;
  @include detail;
}

.hashtag {
  color: $highlight-color;

  @media print {
    color: $black;
  }
}

.hashtag:hover {
  text-decoration-line: underline;
}

.tag-wrapper {
  display: inline-block;
  margin: 0.5rem;
}
