/* PC */
.tag-card {
  display: inline-block;
  margin: 0.5rem;
  padding: 1rem;
  border: 1px solid $base-color;
  border-radius: 24px;
}

.hashtag {
  color: $highlight-color;

  @media print {
    color: $black;
  }
}

.hashtag:hover {
  text-decoration-line: underline;
}

.tag-wrapper {
  display: inline-block;
  margin: 0.5rem;
}
