@import './project';

@mixin container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

@mixin label {
  user-select: none;
  border-bottom: 1px solid $base-color;
  color: $min-color;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 4px;
}

.about {
  &-layout {
    @include root-layout;
  }

  &-container {
    @include root-container;

    @include mobile {
      margin: 0 1rem;
    }
  }

  &-profile {
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @include mobile {
        flex-direction: column;
        align-items: normal;
      }

      .jumbotron {
        display: flex;
        justify-content: start;
        background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #e73c7e);
        background-clip: text;
        color: transparent;
        font-size: 8rem;
        line-height: 8.5rem;
        letter-spacing: 0.2rem;
        font-weight: bold;
        filter: drop-shadow(2px 4px 1px black);

        @include mobile {
          font-size: 6rem;
          letter-spacing: 1px;
        }
      }

      .logo-container {
        display: flex;
        flex-direction: column;

        .about-profile-logo {
          display: flex;
          justify-content: flex-end;
          padding-bottom: 1px;

          a {
            display: flex;
            align-items: center;
          }

          img {
            padding-left: 5px;
            padding-bottom: 4px;
          }
        }
      }
    }
  }

  &-introduction {
    @include container;

    .description {
      margin: 2rem 0 1rem;
      line-height: 2rem;

      p {
        margin: 2rem 0;
      }

      li::before {
        content: '❑';
        margin-right: 0.5rem;
      }
    }
  }

  &-work {
    @include container;

    .skeleton {
      height: $max-height;
    }

    .label {
      @include label;

      cursor: pointer;

      &:hover {
        color: $sub-color;
      }
    }

    &-card {
      display: flex;
      padding: 10px 0;

      @include mobile {
        flex-direction: column;
      }

      .logo {
        width: 6rem;
        border-radius: 13px;

        &:hover {
          filter: drop-shadow(2px 2px 4px lightgray) invert(2%);
        }
      }

      .border {
        border: 1px solid $background-color;
      }

      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 22px;

        @include mobile {
          margin-left: 0;
        }

        .headline {
          display: flex;
          align-items: baseline;

          .title {
            font-size: 1.5rem;
            font-weight: 500;
            user-select: none;
          }

          .hover {
            cursor: pointer;

            &:hover {
              color: $base-color;
            }
          }

          .date {
            padding-left: 4px;
            font-style: italic;
          }

          @include mobile {
            flex-direction: column;

            .date {
              padding-left: 0;
            }
          }
        }

        .position {
          border-bottom: 1px dotted $min-color;
          margin-bottom: 15px;
        }

        .project {
          @include project;
        }
      }
    }
  }

  &-activity {
    @include container;

    padding-bottom: 50px;

    /* stylelint-disable no-descending-specificity */
    .label {
      @include label;
    }
    /* stylelint-enable no-descending-specificity */

    .year {
      font-size: 1.3rem;
    }

    .left-line {
      border-left: 3px solid $dark-color;
      padding-left: 1rem;

      li {
        display: flex;

        .category {
          min-width: 120px;
          color: $min-color;
        }

        .link-wrap {
          width: 100%;
        }

        .link {
          color: #2dd0a8;

          &:hover {
            color: $highlight-color;
          }
        }
      }
    }
  }

  &-education {
    @include container;

    /* stylelint-disable no-descending-specificity */
    .label {
      @include label;
    }
    /* stylelint-enable no-descending-specificity */

    &-position {
      border-bottom: none;
    }
  }
}
