/* PC */
.tag-container {
	height : auto;
  min-height: 100%;
	margin: 0 10vw 0 10vw;
	padding: 10vh 0 5vh 0;
}
.tag-layout {
	height: 100%;
}
.hashtag {
	color: rgb(59, 130, 246);
}
.hashtag:hover {
	color: rgb(59, 130, 246, 0.7);
}