.highlighter {
  display: inline-block;
  color: #30ffcb;
  line-height: 1.1;

  @media print {
    color: #101010;
    text-decoration: underline;
  }

  &::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #30ffcb;
    transition: width 0.5s ease;
    width: 0;
  }

  &:hover {
    cursor: pointer;

    &::after {
      width: 100%;
    }
  }
}
