@mixin root-layout {
  height: 100vh;
}
@mixin root-container {
	height : auto;
	min-height: 100%;
	margin: 0 10vw 0 10vw;
	padding: 10vh 0 5vh 0;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $minTablet) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $minDesktop) and (max-width: $desktop) {
    @content;
  }
}

@mixin largeDesktop {
  @media (min-width: $largeDesktop) {
    @content;
  }
}
