$mobile: 767px;
$minTablet: $mobile + 1;
$tablet: 1023px;
$minDesktop: 1024px;
$desktop: 1399px;
$largeDesktop: 1400px;

$baseColor: #425061;
$subColor: #61768f;
$minColor: #d9dee5;
$max-height: 5000px;
