$mobile: 767px;
$minTablet: $mobile + 1;
$tablet: 1023px;
$minDesktop: 1024px;
$desktop: 1399px;
$largeDesktop: 1400px;
$max-height: 8000px;

$highlightColor: #30ffcb;
$deepLightColor: #f8fbff;
$backgroundColor: #0b1d2d;
$darkColor: rgb(100 116 139);
$baseColor: #425061;
$subColor: #61768f;
$minColor: #d9dee5;
