$target: #e73c7e;

.date-published {
	color: #6c6e6f
}
.scroll-snap {
	height: 100vh;
	scroll-snap-align: start;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
@keyframes water-rainbow {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.water-rainbow:hover {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: water-rainbow 5s ease infinite;
	z-index: 300;
}
.hover-underline:hover {
	text-decoration: underline;
}

.focus-font {
	$clipSize: 90px;
	$fontSize: 75px;
	$textWidth: 350px;
	$animationWidth: 255px;

	$mFontSize: 50px;
	$mTextWidth: 250px;
	$mAnimationWidth: 170px;

	@mixin baseText {
		position: absolute;
		font-family: Arial;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: $fontSize;

		@include mobile {
			font-size: $mFontSize;
		}
	}
	
	.wrapper {
		width: $textWidth;
		white-space: nowrap;

		@include mobile {
			width: $mTextWidth;
		}
	}

	.focus {
		@include baseText;

		width: $textWidth;
		opacity: 0.6;
		background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #e73c7e);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		filter: blur(3px);

		@include mobile {
			width: $mTextWidth;
		}
	}

	.mask {
		@include baseText;

		clip: rect(0px,$clipSize,120px,0px);
		width: $clipSize;
		background: linear-gradient($target, $target 0) no-repeat,
			linear-gradient(to right, $target, $target 0) no-repeat,
			linear-gradient(to right, $target, $target 0) bottom left no-repeat,
			linear-gradient(to right, $target, $target 0) bottom left no-repeat;
		background-size: 0px 6px, 0px 6px, 0px 6px, 0px 0px;
		color: transparent;
		transform: translateX(0);
		box-sizing: border-box;
		animation: mask 2.5s ease infinite alternate;

		@include mobile {
			$clipSize: 70px;
			clip: rect(0px,$clipSize,120px,0px);
			width: $clipSize;
		}
	}

	.text {
		transform: translateX(0);
		background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #e73c7e);
		-webkit-background-clip: text;
		background-clip: text;
		width: $textWidth;
		animation: text 2.5s ease infinite alternate;

		@include mobile {
			width: $mTextWidth;
		}
	}

	@keyframes mask {
		to {
			transform: translateX($animationWidth);
		}
	}
	@keyframes text {
		to {
			transform: translateX(-$animationWidth);
		}
	}
	
	@include mobile {
		@keyframes mask {
			to {
				transform: translateX($mAnimationWidth);
			}
		}
		@keyframes text {
			to {
				transform: translateX(-$mAnimationWidth);
			}
		}
	}
}

.dynamic-image {
	margin: 10px 0px;
}

.loading {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(100, 0%, 85%);
  }
  100% {
    background-color: hsl(200, 0%, 95%);
  }
}

.small {
	font-size: small;
}

.progress {
	display: flex;
	flex-direction: column;
	padding-bottom: 4px;
	padding-left: 0.5rem;
	cursor: context-menu;

	progress {
		appearance: none;
		width: 80px;
		height: 13px;
	}
	
	::-webkit-progress-bar {
		transform: skew(-25deg);
		background-color: $minColor;
	}
	
	::-webkit-progress-value {
		background: $subColor;
	}

	.tooltip {
		position: absolute;
		margin: -35px 0px 0px -3px;
		z-index: 5;
		border-radius: 4px;
		border: 1px solid $subColor;
		background-color: $minColor;
		color: $baseColor;
		opacity: 0.7;
		padding: 5px;
	}
}

.show {
	@keyframes fade {
		0% {
			max-height: 0px;
			opacity: 0;
		}
		100% {
			max-height: $max-height;
			opacity: 1;
		}
	}		
	animation: fade 0.5s forwards;
}

.hide {
	@keyframes fade-out {
		0% {
			max-height: $max-height;
			opacity: 1;
		}
		100% {
			max-height: 0px;
			opacity: 0;
			visibility: hidden;
		}
	}
	animation: fade-out 0.25s forwards;
}