/* PC */
.post-header {
  font-size: 3.75rem;
  line-height: 1;
  word-wrap: break-word;
}

.post-profile-container {
  margin-top: 2vh;
}

.post-body-container {
  position: relative;
}

.issue-post {
  margin: 6rem 0 0;
  color: transparent;
  background: linear-gradient(
    -45deg,
    #ee7752,
    #23a6d5,
    #ff9393,
    #2ddbdb,
    #2389ff
  );
  background-size: 400% 400%;
  background-clip: text;
  animation: water-rainbow 5s ease infinite;
}

@include mobile {
  .post-header {
    font-size: 2.3rem;
    line-height: 1;
  }
}
