@mixin activity {
  @include container;

  padding-bottom: 50px;

  .label {
    @include label;
  }

  &-card {
    display: flex;
    margin-top: 1rem;
    line-height: 1.72rem;

    @include mobile {
      flex-direction: column;
    }

    .year {
      user-select: none;
      min-width: 5rem;
      font-size: 1.3rem;
      width: 11rem;

      &:hover {
        filter: drop-shadow(2px 2px 4px lightgray) invert(2%);
      }

      @include mobile {
        margin: 1rem 0 0.2rem;
      }
    }

    .left-line {
      border-left: 0.24rem solid $dark-color;
      padding-left: 1rem;

      li {
        display: flex;

        .category {
          min-width: 120px;
          color: $min-color;

          @media print {
            color: #101010;
          }
        }

        .link-wrap {
          width: 100%;
        }

        .link {
          color: #2dd0a8;

          @media print {
            color: #101010;
          }

          &:hover {
            color: $highlight-color;
          }
        }
      }
    }
  }
}
