@mixin container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

@mixin label {
  user-select: none;
  border-bottom: 1px solid $base-color;
  color: $min-color;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 4px;

  @media print {
    color: #101010;
  }
}
