/* PC */
.post-layout {
  @include root-layout;
}

.post-container {
  @include root-container;

  @include large-desktop {
    margin: auto;
    max-width: 750px;
  }
}

.post-nav-trans {
  opacity: 1;
}

.category-bar {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid $sub-color;

  .x {
    position: relative;

    &::after {
      content: '𒅄';
    }
  }

  .selected {
    color: $highlight-color;
  }

  .item {
    display: inline-block;
    padding: 0.1rem 0.4rem;
    margin: 0.3rem 1rem;
    user-select: none;
    cursor: pointer;

    &:hover {
      text-shadow:
        -0.5px 0 $highlight-color,
        0 0.5px $base-color,
        0.5px 0 $base-color,
        0 -0.5px $base-color;
    }
  }
}

.post-list {
  padding-bottom: 200px;

  .date-format {
    color: $sub-color;
    margin-top: 0.5rem;
  }

  .post-description {
    color: $sub-color;
  }

  li {
    padding: 1vh 2vw;
    margin-bottom: 15px;
    border-radius: 40px 80px / 80px 40px;

    &:hover {
      color: white;
      text-shadow:
        -0.5px 0 $base-color,
        0 0.5px $base-color,
        0.5px 0 $base-color,
        0 -0.5px $base-color;
      background: linear-gradient(
        -45deg,
        #ee7752,
        #23a6d5,
        #ff9393,
        #2ddbdb,
        #2389ff
      );
      background-size: 400% 400%;
      animation: water-rainbow 5s ease infinite;

      .post-description,
      .date-format {
        color: white;
      }
    }

    .link {
      display: flex;

      .cover {
        animation: skeleton-gradient 1.8s infinite ease-in-out;
        border-radius: 4px;
        border: 1px solid $min-color;
        width: 200px;
        min-width: 200px;
        height: 112.5px;
        object-fit: cover;
        margin-right: 1.5rem;
      }

      .content {
        margin-top: 0.5rem;

        .title {
          font-size: 1.25rem;
          line-height: 1.75rem;
          margin-right: 1rem;
        }
      }

      @include mobile {
        flex-direction: column;
      }
    }
  }

  @include mobile {
    padding-bottom: 100px;
  }
}

.post-header {
  font-size: 3.75rem;
  line-height: 1;
  word-wrap: break-word;
}

.post-profile-container {
  margin-top: 2vh;
}

@include mobile {
  .post-nav-trans {
    opacity: 0.1;
  }

  .post-header {
    font-size: 2.3rem;
    line-height: 1;
  }
}
