.markdown {
  @apply text-lg leading-relaxed;
}
.markdown a {
  color: rgb(59, 130, 246);
}
.markdown a:hover {
  color: rgb(59, 130, 246, 0.7);
}
.markdown p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin-left: 2.5em;
}
.markdown pre {
  font-size: 0.9em;
  position: relative;

  background: linear-gradient(180deg,#333 0,#333 1.7em,rgb(88, 88, 88) 0);
  background-size: 3.4em 3.4em;
  background-origin: content-box;
  line-height: 1.7em;

  border-left: 12px solid rgb(15, 40, 10);
  border-radius: 4px;
  overflow: auto;
  
  padding: 1em 1.5em;

  margin-top: 1vh;
  margin-bottom: 1vh;

  color: #ddd;
}

.markdown pre code {
  color: #ddd;
  background-color: transparent;
}

.markdown code {
  border-radius: 4px;
  padding: 2px 3px 2px 3px;
  background-color: #666;
  color: white;
}

.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  list-style: initial;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown img {
  width: 70%;
}

/* MOBILE */
@media (max-width: 700px) {
  .markdown img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .markdown img {
    width: 45%;
  }
}