@import './detail/index.scss';

/* PC */
.tag-layout {
	@include root-layout;
}
.tag-container {
	@include root-container;
	@include detail;
}
.hashtag {
	color: rgb(59, 130, 246);
}
.hashtag:hover {
	color: rgb(59, 130, 246, 0.7);
}
.tag-wrapper {
	display: inline-block;
	margin: 0.5rem;
}