@import './detail/index.scss';

/* PC */
.tag-layout {
	@include root-layout;
}
.tag-container {
	@include root-container;
	@include detail;
}
.hashtag {
	color: $highlightColor;
}
.hashtag:hover {
	text-decoration-line: underline;
}
.tag-wrapper {
	display: inline-block;
	margin: 0.5rem;
}