/* PC */
.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	justify-items: center;
	position: fixed;
	z-index: 300;
}
.nav-avatar {
	width: 2rem;
	height: 2rem;
	margin-top: 0.5rem;

	img {
		border: 1px solid $minColor;
		border-radius: 90px;
	}
}

/* MOBILE */
@media (max-width: 700px) {
	.post-nav-trans {
		opacity: 0.1;
	}
}