@mixin code {
  // > ... 참조
  blockquote {
    padding: 0 1rem;
    color: #8b949e;
    border-left: 0.25rem solid #425061;
  }

  // 문장 속 강조 `...`
  code {
    padding: 3px 4px;
    background-color: #19263a;
    border: 1px solid #425061;
    border-radius: 3px;
    color: #ffa657;
    font-family: var(--d2coding), sans-serif;
  }

  // 코드부 ```js...```
  figure {
    border: 0.1px solid #2e3844;
    border-left: 6px solid #2e3844;
    margin: 3rem 0 1rem;

    figcaption {
      border-bottom: 0.1px dotted #2e3844;
      background-color: #121822;
      padding: 0.7rem 1.2rem;
      font-size: 1.2rem;
      font-weight: bold;
    }

    pre {
      background-color: #171c24;
      font-size: 0.9em;
      line-height: 1.7em;
      overflow: auto;

      &::-webkit-scrollbar {
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        border-radius: 10px;
        border: 2px solid rgb(20 22 33);
      }
    }

    code {
      background-color: #171c24;
      padding: 1rem 0;
      border: none;
      counter-reset: line;

      span[data-line] {
        padding-right: 2rem;

        &:hover {
          background-color: rgb(53, 63, 76);
        }
      }
    }

    code > [data-line]::before {
      content: '';

      /* Other styling */
      display: inline-block;
      width: 1.2rem;
      text-align: right;
      color: gray;
    }

    code[data-line-numbers] > [data-line]::before {
      counter-increment: line;
      content: counter(line);

      /* Other styling */
      display: inline-block;
      width: 1.7rem;
      margin-right: 1.4rem;
      text-align: right;
      color: gray;
    }

    code[data-line-numbers-max-digits='2'] > [data-line]::before {
      width: 2rem;
    }

    code[data-line-numbers-max-digits='3'] > [data-line]::before {
      width: 3rem;
    }

    code[data-line-numbers-max-digits='4'] > [data-line]::before {
      width: 4rem;
    }

    code > [data-highlighted-line] {
      background-color: rgb(53, 63, 76);
      border-left: 2px solid rgb(73, 107, 161);
    }

    [data-line] > [data-highlighted-chars-mark] {
      background-color: rgb(53, 63, 76);
      padding: 0.1rem;
    }
  }
}
