.markdown th {
  border: 1px solid var(--theme-secondary);
  padding: 0 0.2rem;
  background-color: var(--theme-table-header);
}

.markdown td {
  border: 1px solid var(--theme-secondary);
  padding: 0 0.2rem;
}
